
h1{
text-align: center;
margin: 40px;
}


h2{
  text-align: center;
  color: darkred;
  margin: 50px;
  
}

h3{
  
  text-align: center;
  font-size: 21px;
font-family: 'Times New Roman', Times, serif;
color: darkgreen;
}

h4{
  font-size: 25px;
color: blue
text cornflowerblue
 
}

h6{
  text-align: center;
}


body { 

  
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  
  
}

p{
  text-align: center;
}


.imgBrasil-1950{
  display: inline-block;
  background-color: brown;
  background-image: -moz-repeating-linear-gradient(pink);
}
